.catNubiolaDialogParet{
	font-size: 24pt;
	width: 28em;
	max-width: 50em;
}
.catNubiolaDialogParet .dialogParetCheck{
	transform: scale(2,2);
}
.catNubiolaDialogParet .dialogParetText{
	font-size: 22pt;
}
.catNubiolaDialogParet .dialogParetLength{
	max-width: 4em;	
	font-size: 22pt;
	float: left;
}
.catNubiolaDialogParet .dialogParetDireccio{
	max-width: 5em;
	font-size: 22pt;
	float: left;
}
.catNubiolaDialogParet .dialogParetSostreAlçada{
	max-width: 4em;
	min-height: 1em;
	font-size: 22pt
}
.catNubiolaDialogParet .divPlanolRapidOrientation{
    display:flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: start	;
}
.catNubiolaDialogParet .divPlanolRapidOrientation .dialogParetDireccio{
	margin-left: .5em;
	margin-right: .25em;
}
.catNubiolaDialogParet .divPlanolRapidOrientation .dialogParetLength{
	margin-left: .5em;
	margin-right: .5em;
}
.catNubiolaDialogParet .divPlanolRapidOrientation .dialogParetSostreAlçada{
	margin-left: .5em;
	margin-right: .5em;
}
.catNubiolaDialogParet .dialogParetButtons{
    display:flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.catNubiolaDialogParet .dialogParetButton{
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
	border-width: 2px;
	font-size: 22pt;
}
.catNubiolaDialogParet .blackBorderButton{
	border-color: black;
}
.catNubiolaDialogParet .dialogParetRadio{
	margin-left: .5em;
}
.catNubiolaDialogParet .endDialogButtons{
	margin-top: 1ex;
    display:flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
.catNubiolaDialogParet .endDialogButtons .buttonCancel{
	margin-left: 1em;
}
.buttonOk{
	border-color: green;
	width: 8ex;
}

.buttonCancel{
	border-color: red;
	width: 8ex;
}